@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Sections */
section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
}

/* Light Theme */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.light-theme .container {
    background-color: #f0f0f0;
}

/* Dark Theme */
body.dark-theme {
    background-color: #2e2e2e;
    color: #ffffff;
}

body.dark-theme .container {
    background-color: #333333;
}

/* Button */
#theme-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
     padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    /*background-color: #007bff;*/
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

body.light-theme #sun-icon {
    display: inline-block;
}

/* Moon Icon (dark theme) */
body.dark-theme #moon-icon {
    display: inline-block;
}

/* Make Sun Icon white in Dark Theme */
body.dark-theme #sun-icon {
    filter: invert(1);
}


/*#theme-switcher:hover {*/
/*    background-color: #0056b3;*/
/*}*/

a.nav-link.p-nav-links{
    border-bottom: 3px solid darkslategrey !important;
    color: inherit;
    text-decoration: none;
    position: relative;
    z-index: 1;
}