{% extends "base.html" %}

{% block title %}About - {{ data.name }}{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">About {{ data.name }}<span class="cursor">|</span></h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="/static/images/sabbhamondal.jpeg" alt="{{ data.name }}" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-6 offset-md-1">
            <h2>{{ data.heading }}</h2>
            <br><br>
            <ul class="list-unstyled" style="line-height: 2.7em;">
                {% for point in data.summary %}
                <li class="mb-2"><i class="fas fa-check-circle mr-2"></i>&nbsp;{{ point }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <section class="my-5">
        <h2 class="mb-4">Skills</h2>
        <div class="row">
            {% for skill in data.skills %}
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="skill-badge p-2 text-center rounded delius-unicase-bold">
                    <i class="{{ skill.icon }} fa-fw mr-2"></i>

                    {{ skill.name }}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="my-5">
        <h2 class="mb-4">Experience</h2>
        <div class="fancy-timeline">
            {% for job in data.experience %}
            <div class="fancy-timeline-item">
                <div class="fancy-timeline-marker"></div>
                <div class="fancy-timeline-content">
                    <h3 class="fancy-timeline-title delius-unicase-bold">{{ job.title }}</h3>
                    <h6 class="fancy-timeline-subtitle ">{{ job.company }}</h6>
                    <p class="fancy-timeline-date ">{{ job.duration }}</p>
                    <ul class="fancy-timeline-responsibilities">
                        {% for responsibility in job.responsibilities %}
                        {% set comma_count = responsibility | split(pat=",") | length %}
                        {% if comma_count > 6 %}

                        <ol>
                            {% for item in responsibility | split(pat=",") %}
                                    <li> {{ item | trim() }}{% if not loop.last %},<br>{% endif %}</li>
                                {% endfor %}
                                </ol>
                            {% else %}
                                <li>{{ responsibility }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="my-5">
        <h2 class="mb-4">Education</h2>
        <div class="fancy-timeline">
            <div class="fancy-timeline-item">
                <div class="fancy-timeline-marker"></div>
                <div class="fancy-timeline-content">
                    <h3 class="fancy-timeline-title delius-unicase-bold">{{ data.education.degree }}</h3>
                    <h6 class="fancy-timeline-subtitle ">{{ data.education.institution }}</h6>
                    <p class="fancy-timeline-date ">{{ data.education.duration }}</p>
                    <p>Result: {{ data.education.result }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}