{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="inline-block"><h1 class="text-center">{{ message }}<span class="cursor">|</span></h1></div>


<div class="banner-container container">
    <div class="banner">
        {% for service in data.services %}
        <div class="banner-item">
            <div class="service-content">
                <div class="service-icon mt-5">
                    <lottie-player class="img-fluid rounded-start"
                                   src={{ service.gif }} background="transparent" speed="1" style="width: 50vw; height: 50vh;" loop autoplay></lottie-player>
                </div>
                <div class="service-text">
                    <h2>{{ service.title }}</h2>
                    <h6>{{ service.description }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="banner-nav prev">&lt;</button>
    <button class="banner-nav next">&gt;</button>
</div>

<div class="container my-container mb-5" style="margin-top: 5rem !important;">
    <div class="inline-block">
        <h1 class="text-center border-bottom">Hello, this is {{ data.name }}<span class="cursor">|</span></h1>
    </div>
    <div class="container fs-2">
        <div class="row align-items-center">
            <div class="offset-sm-2 col-sm-4">
                <div class="text-center w-50">
                    <div class="static-text">and I am a</div>
                    <span class="dynamic-text"></span>
                    <span class="cursor">|</span>
                </div>
            </div>
            <div class="offset-sm-1 col-sm-5">
                <img src="/static/images/Sabbha.svg" class="rounded float-start w-75" alt="Sabbha"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}