<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Include common stylesheets, scripts, meta tags, etc. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Additional common headers -->
</head>
<body class="light-theme" style="min-height: 100vh">
<a id="theme-switcher">
    <img alt="Dark" id="moon-icon"
         src="/static/theme/moon.svg"
    >
    <img alt="Light" id="sun-icon"
         src="/static/theme/sun.svg"
         style="display: none;">
</a>
<a id="download-resume"
   href="https://drive.google.com/uc?export=download&id=1BZ9szvS0QK3a6CxQMZBe4qESGjVTmBt6">
    <i class="fas fa-download"></i>
</a>
<header >
    <!-- Common header content -->

    <nav class="my-4 mb-0 navbar-expand-lg navbar-expand-md">
        <div class="container-fluid  d-flex">
            <a class="navbar-brand m-auto delius-unicase-bold" href="/">
                <img src="/static/logo/logo-rbg.png"
                     alt="Sabbha Mondal" class="img" width="100"/><br>
                Sabbha Mondal
            </a>
            <ul class="nav justify-content-center me-auto mt-3">
                <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="/">/home</a></li>
                <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="#about">/about</a></li>
                <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="#projects">/projects</a></li>
                <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="#contact">/contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<section id="home" class="mb-8">
<div class="inline-block"><h1 class="text-center">{{ message }}<span class="cursor">|</span></h1></div>


<div class="banner-container container">
    <div class="banner">
        {% for service in data.services %}
        <div class="banner-item">
            <div class="service-content">
                <div class="service-text">
                    <h2>{{ service.title }}</h2>
                    <h6 style="opacity: 0.4;">[{{ service.description }}]</h6>
                </div>
                <div class="service-icon mt-5">
                    <lottie-player class="img-fluid rounded-start"
                                   src={{ service.gif }} background="transparent" speed="1" style="" loop autoplay></lottie-player>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <button class="banner-nav prev">&lt;</button>
    <button class="banner-nav next">&gt;</button>
</div>
<div class="inline-block"><h1 class="text-center">I'm your guy!</h1></div>
<div class="container my-container mb-5" style="margin-top: 5rem !important; padding: 4em;">
    <div class="inline-block">
        <h1 class="text-center border-bottom">Hello, this is {{ data.name }}<span class="cursor">|</span></h1>
    </div>
    <div class="container fs-2 p-2">
        <div class="row align-items-center">
            <div class="col-sm-4 offset-sm-2 ">
                <div class="text-center w-100">
                    <div class="static-text">and I am a</div>
                    <span class="dynamic-text"></span>
                    <span class="cursor">|</span>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="/static/images/Sabbha.svg" class="rounded w-75" alt="Sabbha"/>
            </div>
        </div>
    </div>
</div>
</section>
<section id="about" class="mb-8">
    <div class="container my-5">
        <h1 class="text-center mb-5">About Me<span class="cursor">|</span></h1>

        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="/static/images/sabbhamondal.jpeg" alt="{{ data.name }}" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-6 offset-md-1 my-desc">
                <h2>{{ data.heading }}</h2>
                <br><br>
                <ul class="list-unstyled" style="line-height: 2.7em;">
                    {% for point in data.summary %}
                    <li class="mb-2"><i class="fas fa-check-circle mr-2"></i>&nbsp;{{ point }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <section class="my-5">
            <h2 class="mb-4">Experience</h2>
            <div class="fancy-timeline">
                {% for job in data.experience %}
                <div class="fancy-timeline-item">
                    <div class="fancy-timeline-marker"></div>
                    <div class="fancy-timeline-content">
                        <h3 class="fancy-timeline-title delius-unicase-bold">{{ job.title }}</h3>
                        <h6 class="fancy-timeline-subtitle ">{{ job.company }}</h6>
                        <p class="fancy-timeline-date ">{{ job.duration }}</p>
                        <ul class="fancy-timeline-responsibilities">
                            {% for responsibility in job.responsibilities %}
                            {% set comma_count = responsibility | split(pat=",") | length %}
                            {% if comma_count > 6 %}

                            <ol>
                                {% for item in responsibility | split(pat=",") %}
                                <li> {{ item | trim() }}{% if not loop.last %},<br>{% endif %}</li>
                                {% endfor %}
                            </ol>
                            {% else %}
                            <li>{{ responsibility }}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="my-5">
            <h2 class="mb-4">Education</h2>
            <div class="fancy-timeline">
                <div class="fancy-timeline-item">
                    <div class="fancy-timeline-marker"></div>
                    <div class="fancy-timeline-content">
                        <h3 class="fancy-timeline-title delius-unicase-bold">{{ data.education.degree }}</h3>
                        <h6 class="fancy-timeline-subtitle ">{{ data.education.institution }}</h6>
                        <p class="fancy-timeline-date ">{{ data.education.duration }}</p>
                        <p>Result: {{ data.education.result }}</p>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="my-5">
            <h2 class="mb-4">Skills</h2>
            <div class="row">
                {% for skill in data.skills %}
                <div class="col-md-3 col-sm-6 mb-3">
                    <div class="skill-badge p-2 text-center rounded delius-unicase-bold">
                        <i class="{{ skill.icon }} fa-fw mr-2"></i>

                        {{ skill.name }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</section>

<section id="projects" class="mb-8">
    <div class="container my-container mb-5 my-5">
        <h2>My Projects</h2>
        <!-- Add your projects here -->
    </div>
</section>

<section id="contact" class="mb-8">
    <div class="container my-container my-5 p-5" style="line-height: 6em;">
        <h1 class="text-center">Contact Me<span class="cursor">|</span></h1>
        <form id="contact-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Enter your message" required></textarea>
            </div>
            <button type="submit" class="btn btn-custom btn-block">Submit</button>
        </form>
    </div>
</section>

<footer class="footer mt-auto py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5 class="footer-title">Services</h5>
                <ul class="list-unstyled footer-text">
                    {% for service in data.services %}
                    <li><i class="fas {{ service.fas }}"></i>&nbsp;{{ service.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="/">/home</a></li>
                    <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="#about">/about</a></li>
                    <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="#projects">/projects</a></li>
                    <li class="nav-item"><a class="nav-link p-0 mx-5 p-nav-links" href="#contact">/contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Contact Me</h5>
                <ul class="list-unstyled footer-text">
                    <li><i class="fas fa-envelope"></i>&nbsp;{{ data.contact.email }}</li>
                    <li><i class="fas fa-phone"></i>&nbsp;{{ data.contact.phone }}</li>
                    <li><i class="fas fa-map-marker-alt"></i>&nbsp;{{ data.contact.location }}</li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h5 class="footer-title">Follow Me</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a target="_blank" href="{{ data.contact.github }}" class="footer-link"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="{{ data.contact.linkedin }}" class="footer-link"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://twitter.com/your-profile" class="footer-link"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://youtube.com/your-channel" class="footer-link"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom pt-3">
            <p class="mb-0">&copy; 2024 Sabbha Mondal. All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
<script src="/static/js/animations.js"></script>
<script src="/static/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
